@model List<Account>

@{
    ViewData["Title"] = "All Accounts";
}

<div class="text-center">
    <h1 class="display-4">All Accounts</h1>

    @if(Model != null && Model.Count >0)
    {
        <table class="table" style="margin-top:150px;">
            <thead>
                <tr>
                    <th scope="col">Account Id</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Account Holder Name</th>
                    <th scope="col">Ballance</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var account in Model)
                {
                    <tr>
                        <th scope="row">@account.AccountId</th>
                        <td>@account.AccountNumber</td>
                        <td>@account.AccountHolderName</td>
                        <td>$@account.Balance</td>
                    </tr>
                }
                
            </tbody>
        </table>
    }
    
</div>
